## Q1. What is a database? Differentiate between SQL and NoSQL databases.
--

A database is a structured collection of data that is organized and stored for efficient retrieval, manipulation, and management. It serves as a repository for various types of information, such as text, numbers, images, and more.
Databases are crucial for applications, websites, and systems to store and retrieve data reliably.

SQL databases are primarily called Relational Databases (RDBMS); whereas NoSQL databases are primarily called non-relational or distributed databases. 


**SQL (Relational ) Databases:**


SQL databases define and manipulate data-based structured query language (SQL). Seeing from a side this language is extremely powerful. SQL is one of the most versatile and widely-used options available which makes it a safe choice, especially for great complex queries. But from another side, it can be restrictive. SQL requires you to use predefined schemas to determine the structure of your data before you work with it. Also, all of your data must follow the same structure. This can require significant up-front preparation which means that a change in the structure would be both difficult and disruptive to your whole system. 



Relational Databases (RDBMS): SQL databases follow a relational model. They store data in tables with predefined schemas.
Language: SQL databases use SQL to define and manipulate data. SQL is powerful and versatile, making it suitable for complex queries.
Structure: Data is organized into tables with rows and columns. All data must adhere to the same structure.
Scalability: SQL databases are vertically scalable (increasing resources on a single server).
Properties: SQL databases follow ACID properties (Atomicity, Consistency, Isolation, and Durability).
Use Cases: Ideal for applications requiring multi-row transactions (e.g., accounting systems).



**NoSQL (Non-Relational) Databases:**

A NoSQL database has a dynamic schema for unstructured data. Data is stored in many ways which means it can be document-oriented, column-oriented, graph-based, or organized as a key-value store. This flexibility means that documents can be created without having a defined structure first. Also, each document can have its own unique structure. The syntax varies from database to database, and you can add fields as you go. 

Dynamic Schema: NoSQL databases have a flexible schema for unstructured data. They can store data in various ways (document-oriented, key-value pairs, graph-based, etc.).
Scalability: NoSQL databases are horizontally scalable (adding more servers). They handle large or dynamic datasets effectively.
Structure: NoSQL databases donâ€™t rely on tables. Instead, they use different data models (e.g., documents, graphs).
Properties: NoSQL databases follow the CAP theorem (Consistency, Availability, and Partition tolerance).
Use Cases: Suitable for unstructured data (e.g., JSON documents) and applications with changing requirements.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

--

**Data Definition Language (DDL)** is a subset of SQL (Structured Query Language) and an integral part of **Database Management Systems (DBMS)**. DDL commands are used to create, modify, or delete the structure of database objects such as tables, indexes, views, and schemas. Let's delve into each of these commands with examples:

1. **CREATE**:
   - The CREATE command is employed to **create a new table** in SQL.
   - Syntax:
     ```sql
     CREATE TABLE table_name (
         column_1 datatype,
         column_2 datatype,
         ...
     );
     ```
   - Example:
     Suppose we want to create a table called `Student_info` to store information about students in a college:
     ```sql
     CREATE TABLE Student_info (
         College_Id number(2),
         College_name varchar(30),
         Branch varchar(10)
     );
     ```

2. **ALTER**:
   - The ALTER command allows us to **add, delete, or modify columns** in an existing table.
   - Syntax to add a column:
     ```sql
     ALTER TABLE table_name ADD column_name datatype;
     ```
   - Example:
     Let's add a new column for **CGPA** to our `Student_info` table:
     ```sql
     ALTER TABLE Student_info ADD CGPA number;
     ```

3. **TRUNCATE**:
   - The TRUNCATE command **deletes all rows** from a table while retaining its structure.
   - Syntax:
     ```sql
     TRUNCATE TABLE table_name;
     ```
   - Example:
     Suppose the college authority wants to remove student details for new batches but keep the table structure intact:
     ```sql
     TRUNCATE TABLE Student_info;
     ```

4. **DROP**:
   - The DROP command is used to **remove an existing table along with its structure** from the database.
   - Syntax:
     ```sql
     DROP TABLE table_name;
     ```
   - Example:
     If the college authority decides to delete the `Student_info` table entirely:
     ```sql
     DROP TABLE Student_info;
     ```

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
--

Data Manipulation Language (DML) is another subset of SQL that deals with the manipulation of data within a database. Let's explore the three primary DML commands:

1. **INSERT**:
   - The `INSERT` command is used to **add new rows** (records) into a table.
   - Syntax:
     ```sql
     INSERT INTO table_name (column1, column2, ...)
     VALUES (value1, value2, ...);
     ```
   - Example:
     Suppose we want to add a new student record to our `Student_info` table:
     ```sql
     INSERT INTO Student_info (College_Id, College_name, Branch, CGPA)
     VALUES (101, 'Engineering College', 'Computer Science', 8.5);
     ```

2. **UPDATE**:
   - The `UPDATE` command modifies existing data in a table.
   - Syntax:
     ```sql
     UPDATE table_name
     SET column1 = value1, column2 = value2, ...
     WHERE condition;
     ```
   - Example:
     Let's update the CGPA of a student with College_Id 101:
     ```sql
     UPDATE Student_info
     SET CGPA = 9.0
     WHERE College_Id = 101;
     ```

3. **DELETE**:
   - The `DELETE` command removes specific rows from a table.
   - Syntax:
     ```sql
     DELETE FROM table_name
     WHERE condition;
     ```
   - Example:
     Suppose we want to delete the student record with College_Id 101:
     ```sql
     DELETE FROM Student_info
     WHERE College_Id = 101;
     ```

These DML commands allow you to manipulate data effectively within your database.

## Q4. What is DQL? Explain SELECT with an example.
--

**Data Query Language (DQL)** is a crucial component of SQL (Structured Query Language) that allows retrieving data from a database. It primarily involves querying and fetching information from schema objects. The most fundamental DQL command is the **SELECT statement**. Let's explore it with an example:

1. **SELECT**:
   - The `SELECT` statement retrieves data from one or more tables in a database.
   - Syntax:
     ```sql
     SELECT column1, column2, ...
     FROM table_name
     WHERE condition;
     ```
   - Example:
     Suppose we have a table called `Employees` with columns `EmployeeID`, `FirstName`, `LastName`, and `Salary`. To retrieve the names of employees earning more than $50,000:
     ```sql
     SELECT FirstName, LastName
     FROM Employees
     WHERE Salary > 50000;
     ```

   This query will return the first and last names of employees meeting the specified condition. DQL allows us to impose order on the retrieved data and perform various operations with it.

## Q5. Explain Primary Key and Foreign Key.
--

**Primary Key (PK):**

A primary key is a unique identifier for each record (row) in a database table.
It ensures that each row has a distinct identity.
Properties of a primary key:
Uniqueness: No two rows can have the same primary key value.
Not Null: A primary key value cannot be null (empty).
Stability: Once assigned, a primary key value remains constant.
Example: Suppose we have a Students table with columns StudentID, FirstName, and LastName. If we choose StudentID as the primary key, it uniquely identifies each student.


**Foreign Key (FK):**

A foreign key establishes a relationship between two tables.
It refers to the primary key of another table.
Properties of a foreign key:
Referential Integrity: Ensures data consistency by enforcing relationships.
Cascading Actions: Defines what happens when the referenced row is modified or deleted.
Example: Letâ€™s say we have another table called Courses with columns CourseID, CourseName, and InstructorID. If InstructorID in the Courses table refers to the StudentID in the Students table, it creates a relationship between students and courses.
In summary, primary keys uniquely identify records within a table, while foreign keys establish connections between related tables

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
--

```import mysql.connector```

```mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)```

```print(mydb)```

```mycursor = mydb.cursor()```

```mycursor.execute("SHOW DATABASES")```
```for x in mycursor:
  print(x)```

**cursor():**

The cursor() method creates a cursor object that allows you to interact with the database.
You can execute SQL queries and fetch results using this cursor.
Example:

```cursor = mydb.cursor()```



**execute():**

The execute() method is used to execute SQL statements (queries or commands).

It takes an SQL operation (query or command) as its argument.

You can also pass parameters (if needed) to the query.

Example (inserting data into a table):

```insert_stmt = "INSERT INTO employees (emp_no, first_name, last_name, hire_date) VALUES (%s, %s, %s, %s)"
data = (2, 'Jane', 'Doe', '2012-03-23')```

```cursor.execute(insert_stmt, data)```

Example (selecting data from a table):


```select_stmt = "SELECT * FROM employees WHERE emp_no = %s"
cursor.execute(select_stmt, (2,))```
```result = cursor.fetchall()```
```print(result)```

## Q7. Give the order of execution of SQL clauses in an SQL query.
--

 When constructing an SQL query, the order of execution of clauses is as follows:

1. **SELECT**: This clause specifies the columns you want to retrieve from the database.
2. **FROM**: The `FROM` clause indicates the table(s) from which you are retrieving data.
3. **WHERE**: The `WHERE` clause filters the rows based on specified conditions.
4. **GROUP BY**: If needed, the `GROUP BY` clause groups rows based on a column or expression.
5. **HAVING**: The `HAVING` clause filters grouped rows (used with `GROUP BY`).
6. **ORDER BY**: The `ORDER BY` clause sorts the result set based on specified columns.
7. **LIMIT/OFFSET**: If applicable, the `LIMIT` and `OFFSET` clauses restrict the number of rows returned.